*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img	{
	max-width: 100%;
}

a {
	text-decoration: none;
	color: white;
}

body {
	font-family: 'Lato', sans-serif;
	max-width: 960px;
	margin: 0 auto;
}

header {
	display: flex;
}

.bar {
  	display: flex;
  	align-items: center;
  	width: 100%;
  	background: #ffa3a3;
  	padding: 30px;
  	margin: 0 0 20px 0;
  	justify-content: space-between;
}

.logo {
  	flex: 5;
  	color: rgba(87, 185, 41, 0.77);
}

.logo h1, h4 {
	margin: 0;
	
}

.logo, .article-title, .section-titles {
	font-family: 'Baloo Bhai', cursive;
}

.search {
	padding: 4px;
}

input {
	border: none;
	padding: 4px;
	height: 30px;
}

.menu-item {
	flex: 1;
}

.text-center {
	text-align: center;
}

article {
	margin-bottom: 80px;
}

article p {
	padding: 40px;
}

article h2, section h2 {
	color: rgba(226, 0, 0, 0.62);
}

section {
	display: flex;
	justify-content: space-between;
}

.section-item {
	margin-right: 10px;
}

.section-item:last-of-type {
	margin: 0;
}

footer {
	width: 100%;
	background-color: #ffa3a3;
	color: white;
}