*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img	{
	max-width: 100%;
}

a {
	text-decoration: none;
	color: white;
	transitions: all 1s ease;
}

a:active {
	color: rgba(87, 185, 41, 0.77);
}

body {
	font-family: 'Lato', sans-serif;
	max-width: 960px;
	margin: 0 auto;
}

header {
	display: flex;
}

.love-color {
    color: rgba(214, 32, 79, 0.77);
}

.bar {
  	display: flex;
  	align-items: center;
  	width: 100%;
  	background: #ffa3a3;
  	padding: 30px;
  	margin: 0 0 20px 0;
  	justify-content: space-between;
}

.logo {
  	flex: 5;
  	color: rgba(87, 185, 41, 0.77);
}

.logo h1, h4 {
	margin: 0;
	font-size: 1.4em;
	
}

.logo, .article-title, .section-titles {
	font-family: 'Baloo Bhai', cursive;
}

.search {
	padding: 4px;
}

.header-input {
	border: none;
	padding: 4px;
	height: 30px;
}

.menu-item {
	flex: 1;
}

.text-center {
	text-align: center;
}

article {
	margin-bottom: 80px;
}

.article-title {
	margin-top: 40px;
	font-size: 30px;
}

article p {
	padding: 40px;
}

article h2, .middle-section h2 {
	color: #ffa3a3;
}

article h2, .middle-section h2:active {
	color: #ffa3a3;
}

.middle-section {
	display: flex;
	justify-content: space-between;
}

.middle-title {
	color: #ffa3a3;
	margin-bottom: 20px;
    font-size: 32px;
}

.section-titles {
	font-size: 25px;
    margin-top: 12px;
}

.section-item {
	margin-right: 10px;
}

.section-item:last-of-type {
	margin: 0;
}

.contact {
	margin-top: 120px;
	margin-bottom: 150px;
	display: flex;
	flex-direction: column;
	background-image: url('../img/background1.jpg');
	background-position: 50% 50%; 
}

form {
	width: 400px;
	margin: 0 auto;
}

.contact h2 {
	color: #ffa3a3;
	font-size: 2.5em;
    margin-bottom: 40px;

}

.form-input {
	border: none;
	border-bottom: 0.2px solid #f7dede;
	width: 100%;
	margin-bottom: 5px;
	font-size: 2em;
    color: grey;
}

.form-textarea {
	border-color: #f7dede;
	font-size: 0.8em;
	width: 100%;
}

footer {
	width: 100%;
	background-color: #ffa3a3;
	color: white;
}

