@media screen and (max-width: 550px){
	.middle-section {
		flex-direction: column;
	}

	.bar {
		flex-wrap: wrap;
	}
	.logo {
		flex: initial;
		width: 100%;
	}

	.header-input {
		padding: 4px;
		background-color: white;
		width: 100%;
	}

	.search {
		margin-top: 20px;
		width: 100%;
		
	}
	.menu-item {
		padding: 4px;
	}

	.section-title {
		text-align: center;
		margin-bottom: 2em;
		font-size: 2.5em;
	}

	.section-item {
		display: block;
		margin: 0 auto;
		margin-bottom: 4em;
	}

	.section-item:last-of-type {
		margin: 0 auto;
	}

	.middle-section img {
		display: block;
		margin: 0 auto;
	}
}

@media screen and (min-width: 551px) and (max-width: 625px){
	.middle-section {
		flex-direction: column;
	}

	.bar {
		flex-wrap: wrap;
	}
	.logo {
		flex: initial;
		width: 100%;
	}

	.header-input {
		padding: 4px;
		background-color: white;
		width: 100%;
	}

	.search {
		margin-top: 20px;
		width: 100%;
		padding: 4px;
	}
	.menu-item {
		padding: 4px;
	}

	.section-title {
		text-align: center;
		margin-bottom: 3em;
		font-size: 2.5em;
	}

	.section-item {
		display: block;
		margin: 0 auto;
		margin-bottom: 4em;
	}

	.section-item:last-of-type {
		margin: 0 auto;
	}
}

@media screen and (min-width: 626px) and (max-width: 825px) {
	.middle-section {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.bar {
		flex-wrap: wrap;
	}

	.header-input {
		padding: 4px;
		background-color: white;
		width: 100%;
	}

	.search {
		margin-top: 20px;
		width: 100%;
		padding: 4px;
	}
	.menu-item {
		padding: 4px;
	}

	.section-title {
		text-align: center;
		margin-bottom: 3em;
		font-size: 2.5em;
	}

	.section-item {
		display: block;
		margin: 0 auto;
		margin-bottom: 4em;
	}

	.section-item:last-of-type {
		margin: 0 auto;
	}
}

@media screen and (min-width: 826px) {
	.middle-section {
		flex-direction: row;

	}

	.bar {
		flex-wrap: wrap;
	}

	.header-input {
		padding: 4px;
		background-color: white;
	}

	.search {
		padding: 4px;
	}
	.menu-item {
		padding: 4px;
	}
	.section-item {
		display: block;
		margin-right: 10px;
	}

	.section-item:last-of-type {
		margin: 0 auto;
	}
}

