@media screen and (max-width: 428px){
	section {
		flex-direction: column;
	}

	.bar {
		flex-wrap: wrap;
	}
	.logo {
		flex: initial;
		width: 100%;
	}

	input {
		padding: 4px;
		background-color: white;
	}

	.search {
		margin-top: 15px;
	}
	.menu-item {
		padding: 4px;
	}
	.section-item {
		display: block;
		margin: 0 auto;
	}

	.section-item:last-of-type {
		margin: 0 auto;
	}
}